@import 'variables.scss';
@import 'components/header.scss';
@import 'components/datauser.scss';
@import 'components/form.scss';




body{
    background: rgb(252, 252, 252);
}

.containerApp{
    display: flex;
    flex-direction: column;
    height: 100vh;

}

main{
    flex: 1;
  // overflow-y: scroll;
}

.list{
    display: flex;
    flex-direction: column
}


.food{
    background: white;
    border-radius:20px ;
    box-shadow: 5px 4px 8px -1px #000000;
    width: 70vw !important;
   // margin-bottom: 1rem;
   margin: 0 auto 1rem auto;
   padding-left: 1rem;
    .calorieFood{
        color: grey;
    }
}


footer{
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;

}



